@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-link {
  @apply inline-block text-center px-6 py-3 rounded-lg text-white bg-blue-300 hover:bg-blue-600 transition duration-200 shadow-md font-medium;
}

.page-title {
  @apply text-4xl sm:text-5xl md:text-6xl font-extrabold text-gray-700 text-center mt-8;
}

.parent-container{
  @apply flex flex-col items-center justify-start px-8 pt-4 w-full; 
}

.author{
  @apply text-sm text-gray-600 mt-2 mb-6;
}

.body{
  @apply text-base sm:text-lg text-gray-700 leading-relaxed max-w-3xl text-left mb-4; 
}

.subheading{
  @apply text-2xl sm:text-3xl md:text-4xl font-semibold text-gray-700 text-center mt-8;

}
.ordered-list {
  @apply list-decimal list-inside text-gray-700 text-left max-w-2xl mt-4 mb-8 space-y-2;
}

.ordered-item {
  @apply text-base sm:text-lg leading-relaxed;
}

.inline-code {
  @apply font-semibold bg-gray-100 text-red-600 px-1.5 py-0.5 rounded text-sm;
  font-family: "Courier New", Courier, "Lucida Console", monospace;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1.3s ease-out forwards;
}
